<% include ../partials/header %>

<title><%= __('common.admin_forgetpassword_title') %></title>
<link rel="stylesheet" href="/stylesheets/form.css" />

<% include ../partials/navbar %>

<div class="container form-content">
    <h1 class="text-center"><%= __('common.admin_forgetpassword_heading') %></h1>
    <div class="form-container">
        <form action="/admin/forgot" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" maxlength="254" name="email"
                    placeholder="Enter Registered Email">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block"><%= __('common.forgot_password_button') %></button>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>                                 

